{% extends "base.html" %}

{% block head %}
<title>Select Topic by Device</title>
{% endblock %}

{% block body %}
<h1>Select Topic</h1>
<form>
    <label for="device">Filter by device:</label>
    <select id="device" name="device_id" onchange="this.form.submit()">
      <option value="">All</option>
      {% for device in devices %}
      <option value="{{ device.id }}" {% if device.id == selected_device %}selected{% endif %}}>
        Device {{ device.id }}
      </option>
      {% endfor %}
    </select>
    <noscript><input type="submit" value="Submit"></noscript>
  </form>
  {% if selected_device %}
  <h3>Messages for Device {{ selected_device }}</h3>
  <ul>
    {% for message in messages %}
      {% if message.device_id == selected_device %}
        <li>{{ message.text }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
